<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Test</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo">Web School</a>
        <div class="nav-links">
            <ul>
                <li><a href="/addData" target="_blank">Ajout De Données</a></li>
                <li><a href="/stat" target="_blank">Etudes statistiques</a></li>
                <li><a href="/ACP" target="_blank">ACP</a></li>
            </ul>
        </div>
        <img src="static\hamburger.png" alt="menu hamburger" class="menu-hamburger">
    </nav>
<header>
    
</header>

</body>
    <script>
        const menuHamburger = document.querySelector(".menu-hamburger")
        const navLinks = document.querySelector(".nav-links")
 
        menuHamburger.addEventListener('click',()=>{
        navLinks.classList.toggle('mobile-menu')
        })
    </script>
</html>
